.div_aside{
    width:19rem;
    display: none;
    grid-template-areas:
    "titulo titulo"
    "btn1 label1"
    "btn2 label2";
    grid-template-columns: repeat(2, 4rem auto);
    grid-template-rows: 2rem repeat(2, 4rem 4rem);
    padding-top: 2rem;
    gap:1rem;
}

.div_asideMobile{
        width:15rem;
        height: 35rem;
        display: grid;
        grid-template-areas:
        "btn1 label1"
        "btn2 label2"
        "linha linha"
        "perfil perfil";
        grid-template-columns: repeat(2, 4rem auto);
        grid-template-rows: 4rem 4rem 2rem 10rem;
        margin-top:1rem;
        padding-top: 1rem;
        padding-left: 2rem;
        row-gap:1rem;
        background-color: #2D415B;
        margin-right: 0.3rem;
        border-radius: 0.5rem;
}

.btn_aside1{
    grid-area: btn1;
    align-self:center;  
    background-color:#5081FB;
}

.lb_btn1{
    grid-area: label1;
    align-self:center;    
}

.lb_btn2{
    grid-area: label2;
    align-self:center;    
}

.btn_aside2{
    grid-area: btn2;
    align-self:center;  
}

.linha_aside{
    grid-area: linha;
    align-self:center;
    display:none;
    color: white;
    opacity: 0.08;
}

.perfil_aside{
    grid-area: perfil;
    align-self: self-start;
    display:none;
    align-items: center;
    gap: 1rem;
    padding-left: 0.5rem;
}

.foto_aside{
    height: 2rem
}

.titulo_aside{
    grid-area: titulo;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 0.4em;
}

.btn_aside1, .btn_aside2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
}

.lb_btn1, .lb_btn2{
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.btn_aside1:hover, .btn_aside2:hover{
    background-color: #7BA4FC;
}

.pressed{
    background-color: rgba(80, 129, 251, 0.24);
    border: 4px solid rgba(80, 129, 251, 0.72);
    outline: none;
}

.focus{
    background-color: #96B9FD;
}

.outlined{
    background-color:rgba(80, 129, 251, 0.08);
}


@media screen and (min-width: 1024px){
    .div_aside{
        display: grid;
        width: 15rem;
    }
}

@media screen and (min-width: 1440px){
    .div_aside{
        width: 21rem;
    }
}
