.section_editor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_editor_comunidade{
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: start;
}

.flex_desktop{
    display:flex;
    flex-direction: column;
}

.flex_desktop_comunidade{
    justify-content: start;
}
.editor_texto{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #6BD1FF;
    width: 21rem;
    height: 30rem;
    border-radius: 0.5rem;
}
.editor_texto_comunidade{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    background-color: #6BD1FF;
    width: 70%;
    height: 17rem ;
    border-radius: 0.5rem;
}
.campo_editor{
    background-color: black;
    width:17rem;
    height: 26rem;
    border-radius: 0.5rem;
    overflow-y: scroll
}

.btn_editor{
    padding: 1rem 0 0 0;
}

.btn_todos{
    padding: 0 0 1rem 0.5rem
}

.codigo-wrapper{
    display: flex;
    color: white;
    font-family: 'Roboto Mono';
    padding: 0 3rem 0 1rem;
    font-size: 0.9rem;
    line-height: 1.1rem;
    font-weight: 400;
    white-space: pre-line;
    background-color: #000000;
}

.btn_highlight{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}
.highlight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 21rem;
    height: 3.5rem;
    background-color:rgba(80, 129, 251, 0.08);
    color: #FFFFFF;
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    border-radius: 0.5rem;
}

@media screen and (min-width: 768px) {

.editor_texto{
    width: 44rem;
    height: 25rem;
}

.campo_editor{
    width: 40rem;
    height: 21.5rem;
}
.highlight{
    width: 44rem;
}

}

@media screen and (min-width: 1024px) {

.flex_desktop{
    flex-direction: row;
}

.section_editor{
    width: 32rem;
}

.editor_texto{
    width: 100%;
    height: 27rem;
}

.campo_editor{
    width: 90%;
    height: 90%;
}

.btn_highlight{
    padding-top: 3rem;
}
.highlight{
    width: 30rem;
}
}

@media screen and (min-width: 1440px){

.section_editor{
    width: 47rem;
}

.btn_highlight{
    padding-top: 3rem;
}
.highlight{
    width: 47rem;
}

}