.projeto_definido{
    display: none;
    justify-content: center;
}
.div_projetodef{
    background-color: rgba(0, 0, 0, 0.16);
    width: 18.5rem;
    height: 7rem;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:0.5rem;
    border-radius: 0.5rem;
    padding: 1.2rem 
}

.nome_perfil{
    padding-top: 0.1rem;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    
}
.titulo_projeto{
    color:#FFFFFF;
    font-family:'Inter';
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 2rem;
    letter-spacing: 0em;
}

.descricao_projeto{
    color:#FFFFFF;
    font-family:'Inter';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
    letter-spacing: 0em;
}
.status_perfil{
   display: flex;
   justify-content: space-between;
   padding-top: 1rem;
}

.curtidas_icon{
    display: flex;
    gap: 0.5rem;
}

.qt_comment, .qt_curtidas{
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2rem;
}

.photo_nick{
    display: flex;
    gap:0.5rem
}
.photo_perfil{
    width: 1.4rem;
    height: 1.4rem;
}

.projeto_section{
    display: flex;
    justify-content: center;
}
.div_projetoSec{
    display: flex;
    flex-direction: column;
    width:20.8rem;
}

.projeto_info{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projeto_info2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_titulo{
    padding: 1rem 0 0.5rem 0;
    color: #FFFFFF;
    font-family: var(--font-principal);
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 1.1rem;
    letter-spacing: 5px;
}

.input_projeto{
    width: 100%;
    height: 3.5rem;
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    color: white;
}

.input_projeto[type="text"], textarea{
    background-color: rgba(255, 255, 255, 0.16);
        box-sizing: content-box;
        padding-left: 1rem;;
}

.input_projeto::placeholder{ 
    color:white;
    opacity: 64%;
    font-family: var(--font-principal);
    padding:0.8rem;
    font-size:1rem;
}

.input_projeto:focus {
    outline: none;
}

.input_descricao{
    height: 5rem;
}

 .projeto_info{
    gap:0.8rem;
 }

.input_js{
    width: 20.8rem;
    height: 3.5rem;
    padding-left: 0.5rem;
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    color: #FFFFFF;
    background-color: rgba(255, 255, 255, 0.16);
    outline: 0;
}

.select_color{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5rem;
    width: 100%;
    height: 1.8rem;
    margin-top: 0.8rem;
    border-radius: 0.3rem;
    border: none;
    color: white;
    background-color: rgba(255, 255, 255, 0.16);
    outline: 0;
}

.btn_salvar{
    width: 100%;
    height: 3.5rem;
    margin-top:0.8rem;
    border-radius: 0.5rem;
    background-color:#5081FB;
    color: #051D3B;
    font-size:1rem;
    font-weight: 400;
    border: none;
}

.input option {
    background-color: #051D3B;
}
@media screen and (min-width: 768px) {

.div_projetodef{
    width: 42rem;
}

.div_projetoSec{
    width: 44rem;
}

.input_js{
    width: 44rem !important;
}

.input_descricao{
    padding-bottom:2rem;
    height: 3rem;
}
.projeto_info2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.select_color{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
}
.color_azul[type="text"], textarea{
    height: 2.1rem;
    border-radius: 0.3rem;
}

}

@media screen and (min-width: 1024px){

.div_projetoSec{
    padding: 1rem 0 0 1rem;
    gap:1rem;
}

.projeto_info{
    padding-bottom:2rem;
}

.btn_salvar{
    margin-top: 2rem;
}

.div_projetoSec{
    width: 12rem;
}

.select_color{
    margin-top:1.7rem;
}

.input_projeto::placeholder, .input_js::placeholder{ 
    font-size: 0.8rem;
}

}


@media screen and (min-width: 1440px){

.div_projetoSec{
    padding: 1rem 0 0 2rem;
    gap:1rem;
}
.projeto_info{
    padding-bottom:2rem;
}
.btn_salvar{
    margin-top: 2rem;
}
.div_projetoSec{
    width: 20rem;
}

.select_color{
    margin-top:1.7rem;
}

.div_projetoSec{
    width: 17rem;
}
}

